%p `注文内容を確認・変更する
下の「注文を確定する」ボタンを押してご注文い ただくことで、お客様は当サイトのプライバシー規約 および利用規約 に同意の上、商品をご注文されたことになります。

Amazonマーケットプレイスの商品をご注文された場合、お客様は出品者の返品・交換の条件およびプライバシーポリシー、その他の販売条件、および一部の出品者から商品やサービスのご案内が届くことについても同意されたことになります。国内外の出品者の会社情報および所在並びに各条件・ポリシーの詳細は、出品者のページでご確認ください。

Amazonマーケットプレイスの商品を購入する場合は、所定の配送料がかかります。「注文を確定する」ボタンをクリックする前に、配送料と注文合計をご確認ください。`

=render 'carts/cart'
