#{@user.name} 様
ご注文ありがとうございます！
クレジットカードでお支払いの方は、以下PayPalサイトよりお支払いのお手続きをお願いします。
銀行振込ご希望のお客様には、お振込確認後、商品を発送させて頂きます。（手続きの都合上、発送まで２〜３日、お時間をいただくことがございます）

ご注文内容
これで絶対負けない！ じゃんけんの勝ち方100選
虫に強いお茶を作る。金谷のうまいお茶。
中間試験も無事にパス！
tech-expert完全カンニング読本
- @order.cart.items.each do |item|
  商品名#{item.name}
