#book-nav-bar
  .box
    %span 本
    %span 詳細検索
    %span ジャンル一覧
    %span 新刊・予約
    %span Amazonランキング
    %span コミック・ラノベ
    %span 雑誌
    %span 文庫・新書
    %span Amazon Student
    %span バーゲン
    %span 古本
    %span 直接取引で販売促進
