#sidebar
  %h2 カテゴリ
  %h3 &#xf104; 全てのカテゴリー
  %h3 &#xf104; 本
  %h4 文学・評論
  %ul
    %li 文芸作品 (16)
    %li SF・ホラー・ファンタジー (1)
    %li ミステリー・サスペンス・ハードボイルド (1)
    %li エッセー・随筆 (1)
    %li 評論・文学研究 (13)
    %li 文学賞受賞作家の本 (31)
  %h2 絞り込み
  %h4 文学・評論
  %ul
    %li 文芸作品 (16)
    %li SF・ホラー・ファンタジー (1)
    %li ミステリー・サスペンス・ハードボイルド (1)
    %li エッセー・随筆 (1)
    %li 評論・文学研究 (13)
    %li 文学賞受賞作家の本 (31)
