#pageContents
  %ul.bxslider
    %li= image_tag "top-slide1.jpg", width:"100%", height:"300px"
    %li= image_tag "top-slide2.jpg", width:"100%", height:"300px"
    %li= image_tag "top-slide3.jpg", width:"100%", height:"300px"
