#user-view {
  width: 350px;
  height: 100%;
  border: 1px solid $page-nav-border;
  margin: 50px auto;
  padding: 30px;
  text-align: center;
  h2 {
    font-size: 28px;
    font-weight: 400;
  }
  input {
    width: 300px;
    height: 35px;
    padding-left: 10px;
  }
  #user_remember_me {
    width: 10px;
  }
  .order-radio {
    input {
      width: 10px;
    }
  }
  .text-box {
    height: 300px;
    width: 300px;
    vertical-align: text-top;
  }
  .new_registar {
    margin: 20px auto;
    display: block;
    width: 300px;
    height: 35px;
    padding: 10px 0;
    color: white;
    text-decoration: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
    background: #b3dced; /* Old browsers */
    background: -moz-linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */
  }
  .submit-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    color: white;
  }
  label {
    font-size: 13px;
  }
  p {
    font-size: 13px;
  }
  .font-13 {
    font-size: 13px;
  }
}

.no-margin {
  margin: 20px!important;
}

.margin-on {
  margin: 0 auto!important;
}
