.yubi {
  cursor: pointer;
}

.none-decoration {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

hr {
   border-color: $box-border;
}

#main-contents {
  padding-top: 15px;
}

.cart-stock {
  color: $font-cart-stock;
  font-size: 12px;
}
