$page-main-color: #232f3e;
$page-main-back-to-top: #37475a;
$page-main-white: white;
$page-main-black: black;
$page-main-footer: #131a22;
$page-main-copyright: #767676;
$page-main-border: #3a4553;
$page-main-option: f1f1f1;
$page-main-font-option: #777;
$page-main-search: #febd69;
