$page-main-color: #232f3e;
$page-main-back-to-top: #37475a;
$page-main-white: white;
$page-main-black: black;
$page-main-footer: #131a22;
$page-main-copyright: #767676;
$page-main-border: #3a4553;
$page-main-option: f1f1f1;
$page-main-font-option: #777;
$page-main-search: #febd69;

$page-nav-background: #fafafa;
$page-nav-border: rgba(0,0,0,.1);
$page-nav-font: #111;

$item-page-pankuzu: #767676;
$item-page-link-blue: #0066c0;

$page-sidebar-main: #999;

$review-bar: #f2f2f2;
$review-yellow: #ffce00;

$box-border: #ddd;
$box-font: #555;
$box-hover: #eee;

$font-black-color: #111;

$font-cart-stock: #008B00;
$font-cart-red: #B12804;
