#address-index {
  margin: 20px;
  font-size: 13px;
  h1 {
    font-size: 28px;
    padding: 20px 0;
  }
  .address-box {
    float: left;
    margin-right: 20px;
    width: 300px;
    height: 300px;
    border: 2px dashed $box-border;
    .font-center {
      text-align: center;
      line-height: 300px;
      color: $item-page-pankuzu;
      font-size: 21px;
      font-weight: 700;
      text-decoration: none;
    }
    ul {
      padding: 20px;
      font-size: 13px;
      .address-name {
        color: $font-black-color;
        font-weight: 700;
      }
    }
  }
  &:after {
      clear: both;
      content: "";
      display: block;
  }
}

#address-form {
  text-align: center;
  .input-form {
    p {
      font-size: 13px;
    }
    h1 {
      margin: 20px 0px;
      font-size: 21px;
    }
    label {
      width: 500px;
    }
    input {
      width: 500px;
      border-radius: 1px;
      margin-bottom: 20px;
    }
    .submit {
    }
  }
}
