#cart-show {
  caption {

  }
  table {
    tr {
      border: 1px solid black;
    }
    th {
      font-size: 20px;

    }
    td {
      &#cart-image {
        height: 100px;
        width: 100px;
        img {
          width: 100%;
          height: auto;
        }
      }
      &#cart-item {
        width: 300px;
      }
      &#cart-price {
        width: 100px;
      }
      &#cart-quantity {
        width: 100px;
      }
    }
  }
  .price-sum {

  }
}
