#pageContents {
  margin: 0;
  padding: 0;
  ul {
    margin: 0;
    padding: 0;
    li {
      margin:0;
      padding:0;
    }
  }
}

#categories {
  border-top: 1px solid $page-nav-border;
  padding: 20px;
}
.weather {
  border-top: 1px solid $page-nav-border;
  padding: 20px;
}

#index-item {
  white-space: nowrap;
  overflow: scroll;
  height: 250px;
  border-bottom: 1px solid $page-nav-border;
  .item {
    float: left;
    height: 300px;
    img {
      width: 150px;
    }
    .index-item-name {
      width: 150px;
      overflow: hidden;
    }
    p {
      font-size: 13px;
    }
  }
}
