#pageContents {
  margin: 0;
  padding: 0;
  ul {
    margin: 0;
    padding: 0;
    li {
      margin:0;
      padding:0;
    }
  }
}

#categories {
  border-top: 1px solid $page-nav-border;
  padding: 20px;
}
.weather {
  border-top: 1px solid $page-nav-border;
  padding: 20px;
}

.recomend-items {
  img {
    width: 150px;
  }
}
