.stars {
  color: $review-yellow;
}

#item-review {
  padding: 50px;
  #review {
    font-size: 10px;
  }
  #review-rates {
    font-size: 15px;
  }
  #customer-review {
    ul {
      li {
        width: 300px;
        height: 200px;
        float: left;
        font-size: 13px;
        padding: 20px;
        border: dashed 1px $item-page-pankuzu;
        margin: 20px;
        border-radius: 5px;
      }
      .stars {
        float: left;
      }
      .title {
        margin-left: 10px;
        font-weight: 700;
      }
      .name {
        color: $item-page-pankuzu;
      }
      .review-text {
        overflow: scroll;
        height: 100px;
      }
      .ask {
        padding-top: 10px;
        font-size: 12px;
        color: $item-page-pankuzu;
      }
      .review-yes {
        font-size: 15px;
        font-weight: 700;
        float: left;
        padding: 3px;
        text-align: center;
        width: 40px;
        @include original;
        border-radius: 3px;
        color: white;
      }
      .counter {
        padding-top: 15px;
        float: left;
        color: $font-cart-stock;
        font-size: 10px;
      }
    }
  }
}

#review-tables {
  tr {
    color: $item-page-link-blue;
    border-top: solid 10px $page-main-white;
    font-size: 13px;
  }
  .review-bar {
    background-color: $review-bar;
    width: 150px;
    height: 15px;
    border-radius: 15px;
    .rate-0 {
      width: 0px;
    }
    .rate-20 {
      background-color: #ffce00;
      width: 30px;
      height: 19px;
    }
    .rate-40 {
      background-color: #ffce00;
      width: 50px;
      height: 19px;
    }
    .rate-60 {
      background-color: #ffce00;
      width: 80px;
      height: 19px;
    }
    .rate-80 {
      background-color: #ffce00;
      width: 110px;
      height: 19px;
    }
    .rate-100 {
      background-color: #ffce00;
      width: 150px;
      height: 19px;
      border-radius: 15px;
    }
  }
}

.select-stars {
  display: none;
}

.all-stars {
  margin: 0 auto;
  width: 150px;
}

.all-stars:after {
  content: "";
  display: block;
  clear: both;
}

.star {
  float: left;
  font-size: 30px;
  color: $review-yellow;
}
