#item-review {
  padding: 50px;
  height: 100px;
  #review {

  }
  #review-rates {

  }
  #customer-review {
    ul {
      li {
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }
  }
}

#review-form {
  h1 {
    padding: 50px;
  }
  input {
    width: 200px;
    height: 300px;
    padding-top: 50px;
  }
}
