.stars {
  color: $review-yellow;
}

#item-review {
  padding: 50px;
  #review {

  }
  #review-rates {
  }
  #customer-review {
    ul {
      li {
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }
  }
}

#review-form {
  h1 {
    padding: 50px;
  }
  input {
    width: 200px;
    height: 300px;
    padding-top: 50px;
  }
}

#review-tables {
  tr {
    color: $item-page-link-blue;
    border-top: solid 10px $page-main-white;
  }
  .review-bar {
    background-color: $review-bar;
    width: 100px;
    height: 15px;
    .rate-0 {
      width: 0px;
    }
    .rate-20 {
      background-color: #ffce00;
      width: 20px;
      height: 22px;
    }
    .rate-40 {
      background-color: #ffce00;
      width: 40px;
      height: 22px;
    }
    .rate-60 {
      background-color: #ffce00;
      width: 60px;
      height: 22px;
    }
    .rate-80 {
      background-color: #ffce00;
      width: 80px;
      height: 22px;
    }
    .rate-100 {
      background-color: #ffce00;
      width: 100px;
      height: 22px;
    }
  }
}
