#contents-search {
  #search-result {
    padding: 20px;
    ul {
      .each-item {
          float: left;
          width: 200px;
          height: 300px;
        li {
          float: left;
          padding-left: 20px;
          .item-image {
            padding-top: 20px;
            width: 160px;
            height: 160px;
            img {
              width: 100%;
              height: auto;
            }
          }
          .item-detail {
            padding-top: 80px;
            font-size: 13px;
            .name {
              font-size: 16px;
              font-weight: bold;
              overflow: hidden;
              width: 170px;
              height: 50px;
              white-space: nowrap;
            }
            .price {
              .price-list {
                li {
                  clear: both;
                }
              }
            }
          }
        }
      }
    }
  }
  #none-items {
    p {
      padding: 50px;
    }
  }
}

#contents-search:after {
  content: "";
  clear: both;
  display: block;
}

ul:after {
  content: "";
  clear: both;
  display: block;
}
