#user-view {
  width: 350px;
  height: 350px;
  border: 1px solid;
  margin: 50px auto;
  text-align: center;
  h2 {
    font-size: 28px;
    font-weight: 400;
  }
  input {
    width: 300px;
    height: 35px;
  }
  #user_remember_me {
    width: 10px;
  }
  .new_registar {
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 35px;
    border: 1px solid;
    padding: 10px 0;
  }
}
