%p #{@category.name}の人気商品
#search-result
  %ul
    - @items.each do |item|
      %li
        .item-image
          =link_to image_tag("#{item.image.image_url}"), item_path(item)
        .item-detail
          .name= item.name
          .author
          .review ★★★★★ 690件のカスタマーレビュー
          .other &#xf0da; その他（）の形式およびエディションを表示する
          .price
            .type ペーパーバック
            .best-price #{item.price}円
            %ul.price-list
              %li ￥ 1 より 42 中古品の出品
              %li ￥ 810 より 2 新品
              %li ￥ 256 より 11 コレクター商品の出品
            %p &#xf114; 不正確な製品情報を報告。
