#dd-user-menu
  %ul
    %li アカウントサービス
    %li 注文履歴
    %li ほしい物リスト
    %li おすすめ商品
    %li Amazon定期おトク便情報
    %li Amazonプライム会員情報
    %li コンテンツと端末の管理
    %li Prime Music
    %li 100万曲以上が聴き放題
    %li ミュージックライブラリにアクセス
    %li 旧「ウェブ版Cloud Player」
    %li お客様のAmazon Drive
    %li プライムメンバー向け容量無制限のフォトストレージ
    %li ウォッチリスト
    %li 後で観たいビデオをリストに追加
    %li ビデオライブラリ
    %li レンタルや購入したビデオを今すぐ視聴
    %li お客様の Kindle Unlimited
    %li ゲーム&PCソフトダウンロードライブラリ
    %li アプリライブラリとデバイスの管理
    %li= link_to("サインアウト", destroy_user_session_path, method: :delete)
