%footer
  #back-to-top
    %p トップへ戻る
  #footer-nav
    %table
      %tr
        %td
          %div Omazonについて
          %ul
            %li Omazon情報
            %li Omazonライフ
            %li Omazon環境
            %li Omazon保全
            %li Omazonサービス
            %li OmazonWEB
            %li Omazonです
      %tr
        %td
          %div Omazonについて
          %ul
            %li Omazon情報
            %li Omazonライフ
            %li Omazon環境
            %li Omazon保全
            %li Omazonサービス
            %li OmazonWEB
            %li Omazonです
      %tr
        %td
          %div Omazonについて
          %ul
            %li Omazon情報
            %li Omazonライフ
            %li Omazon環境
            %li Omazon保全
            %li Omazonサービス
            %li OmazonWEB
            %li Omazonです
      %tr
        %td
          %div Omazonについて
          %ul
            %li Omazon情報
            %li Omazonライフ
            %li Omazon環境
            %li Omazon保全
            %li Omazonサービス
            %li OmazonWEB
            %li Omazonです
  #select-lang
    .language
      .logo
        %p Amazon
      .lang-field
        .select-lang
          %select
            %option 日本語
            %option 英語
        .current-lang
          %p 日本語
  #about-amazon
    %table
      %tr
        %td
          %div Audible(オーディブル)
        %td
          %div アマゾン Webサービス（AWS）
        %td
          %div Amazon アウトレット
        %td
          %div Prime Now
        %td
          %div Book Depository
        %td
          %div Shopbop
  #footer-bottom
    .element
      .agreement
        %p 利用規約 | プライバシー規約 | パーソナライズド広告規約
      .copyright
        %p &copy;1996-2017, Amazon.com, Inc. or its affiliates
