%header
  #navbar
    #nav-belt
      %h1 Omazon
      %p .co.jp
      #nav-input
        %select
          %option すべて &#xf0d7;
          %option 本
        %input
        %search=fa_icon "search"
      %submit
      .free-trial
        %p 30日間の無料体験を試す
      .message-trial
        %p 映画もドラマも見放題！
    #nav-main
