%header
  #navbar
    #nav-belt
      =link_to items_path do
        %h1 Omazon
        %p .co.jp
      #nav-input
        %select
          %option すべて &#xf0d7;
          %option 本
        %input
        %search
          =link_to items_search_path do
            =fa_icon "search"
      %submit
      .free-trial
        %p 30日間の無料体験を試す
      .message-trial
        %p 映画もドラマも見放題！
    #nav-main
